.container-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-template-rows: repeat(2, 300px);

}

.container-main img {
    width: 100%;
    height:auto

      
}

.footer {
    grid-area: 1/1/3/3;
}

@media(max-width: 480px) {
    .container-main {
        grid-template-columns: repeat(2, 1fr);
    }
}